<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <style>
      form input {
        display: block;
        width: 12em;
        padding: 4px;
        margin: 20px auto;
      }
    </style>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div id="title-bar">
     <div id="title">土冒聊天</div>
     <div id="title-bar-btns">
       <button id="min-btn">-</button>
       <button id="max-btn">+</button>
       <button id="close-btn">x</button>
     </div>
   </div>
    <form id='loginForm' action='https://dev-common.toomao.com/empty' data-role='formJSON' method='GET'>
      <input name='username' value='123456' placeholder="用户名" />
      <input type='password' name='password' value='123456' placeholder="密码" />
      <input type='submit' value='登录' />
    </form>

    <script src='https://common.toomao.com/js?p=formJSON,formValidator,formOnInvalid,imageView,paging,tabs,template,toast,ajaxUpload,ajaxUpload-single,webcom,lazyload'></script>

  </body>
  <script src="./index.js"></script>
  <script>
    loginForm.onended = function(d) {
      d.hxid = '564dc4260cf20c5cfcaff64b';
      d.hxpwd = 'BdIQaC';

      localStorage.setItem('hxid', d.hxid);
      localStorage.setItem('hxpwd', d.hxpwd);
    }
  </script>
  <script>
    // You can also require other files to run in this process
    require('../renderer.js')
  </script>
</html>
